nav {
    width: 100%;
    padding: 0.9rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    box-shadow: 2px 2px 5px #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    align-items: center;
}

nav h1 {
    font-size: 32px;
}

nav a {
    text-decoration: none;
    font-size: 22px;
    color: #fff;
    position: relative;
}

nav ul a::before {
    content: '';
    width: 100%;
    height: 3px;
    background: #fe0;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: .5s ease-in-out;
    transform: scaleX(0);
}

nav ul a:hover::before {
    transform: scaleX(1);
}