<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <div class="container">
        <header>
            <h1>Contact us</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                obcaecati quia voluptate velit dignissimos praesentium!</p>
            <br><br><br>
        </header>
    </div>
    <div class="container">
        <div class="row">
            <div class="card">
                <figure>
                    <img src="https://picsum.photos/100/100/?random=10">
                </figure>
                <div class="card-body">
                    <h2>Sales</h2>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </div>
                </div>
                <a href="#">Contact sales</a>
            </div>
            <div class="card">
                <figure>
                    <img src="https://picsum.photos/100/100/?random=12">
                </figure>
                <div class="card-body">
                    <h2>Help & Support</h2>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </div>
                </div>
                <a href="#">Contact support</a>
            </div>
            <div class="card">
                <figure>
                    <img src="https://picsum.photos/100/100/?random=13">
                </figure>
                <div class="card-body">
                    <h2>Media & Press</h2>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </div>
                </div>
                <a href="#">Visit press page</a>
            </div>
        </div>
    </div>
</body>

</html>