<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>WebDesing</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.global.min.js' integrity='sha512-Wbf9QOX8TxnLykSrNGmAc5mDntbpyXjOw9zgnKql3DgQ7Iyr5TCSPWpvpwDuo+jikYoSNMD9tRRH854VfPpL9A==' crossorigin='anonymous'></script>
  <script src="./src/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="./src/css/bootstrap.min.css" />
  <link rel="stylesheet" href="./src/css/style.css">
</head>

<body>
  <div id="app">
    <!-- toggle_nav_btn -->
    <div class="toggle_nav_btn" @click="navToggleFlag = !navToggleFlag">
      <svg width="50px" height="40px" preserveAspectRatio="xMidYMid slice">
        <rect width="30px" height="5px" fill="black" x="10px" y="10px" />
        <rect width="30px" height="5px" fill="black" x="10px" y="20px" />
        <rect width="30px" height="5px" fill="black" x="10px" y="30px" />
      </svg>
    </div>

    <!-- nav -->
    <nav class="nav nav-pills flex-column" :style="{left:navToggleFlag ? '3%' : ''}">
      <a v-for="(value,key ,index) in main" :href="'#item-' + index" class="nav-link">{{ key }}</a>
    </nav>

    <!-- main -->
    <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true"
      class="scrollspy-example container" tabindex="0">
      <!-- section -->
      <section v-for="(value,key,index) in main" :id="'item-' + index">
        <h1>{{key}}</h1>
        <hr />
        <ul>
          <li v-for="i in value">
            <a class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
              :href="`${key}/${i}`" target="_blank">{{i}}</a>
          </li>
        </ul>
      </section>
    </div>
  </div>

  <!-- script.js -->
  <script type="module" src="./src/js/script.js"></script>
</body>

</html>