body {
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    font-family: 微軟正黑體;
}

input[type='checkbox'] {
    display: none;
}

.check {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    background: #333;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
    z-index: -1;
}

input[type='checkbox']:checked~.check {
    background-color: #fff;
    box-shadow: 0 0 0 1200px #333;

}

input[type='checkbox']:checked~input[type='submit'] {
    color: #fff;
    border: 1px solid #fff;
    background: #333;
}



.check::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    background: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
}

input[type='checkbox']:checked~.check::before {
    transform: translateX(-50px);
}


.check::after {
    content: '';
    position: absolute;
    top: 2px;
    right: 2px;
    background: #333;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
    transform: translateX(50px);

}

input[type='checkbox']:checked~.check::after {
    transform: translateX(0px);
}