<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/52-local-logo" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>終極密碼</title>
    <script type="module" crossorigin src="/webDesign/components/終極密碼/assets/index-bcXbf5YH.js"></script>
    <link rel="stylesheet" crossorigin href="/webDesign/components/終極密碼/assets/index-YWbfZlUQ.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
