* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.tags {
  height: 5vh;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 15px;

  & > .tag {
    text-decoration: none;
    color: #121212;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 5px 10px;
    &.active {
      background: #67c;
      color: #eee;
    }
  }
}

.pages {
  width: 100vw;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(4, 100vw);
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth; /* 這個沒有效果 因為下了scroll-snap-type */

  &::-webkit-scrollbar {
    display: none;
  }

  & > .page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    font-size: 24px;

    scroll-snap-align: start;
    scroll-snap-stop: always;

    &:nth-child(1) {
      background: #def;
    }
    &:nth-child(2) {
      background: rgb(221, 255, 231);
    }
    &:nth-child(3) {
      background: rgb(255, 221, 249);
    }
    &:nth-child(4) {
      background: rgb(221, 255, 253);
    }
  }
}
