.message.active {
    animation: 1s fadeIn ease-in-out;
}

.message.del {
    animation: 1s fadeIn ease-in-out reverse;
}

@keyframes fadeIn {
    to {
        transform: scale(1);
        filter: blur(0);
        opacity: 1;
    }

    from {
        opacity: 0;
        filter: blur(5px);
        transform: scale(0);
    }
}