.glass-btn .debris-1 {
  background-color: #00d9ff;
  clip-path: polygon(0 0, 25% 25%, 0 100%);
}

.glass-btn .debris-2 {
  background-color: #f90;
  clip-path: polygon(0 0, 50% 0, 50% 50%);
}

.glass-btn .debris-3 {
  background-color: rgb(0, 255, 76);
  clip-path: polygon(50% 0, 100% 0, 50% 50%);
}

.glass-btn .debris-4 {
  background-color: #f00;
  clip-path: polygon(75% 50%, 100% 0, 100% 100%);
}

.glass-btn .debris-5 {
  background-color: aqua;
  clip-path: polygon(25% 25%, 100% 100%, 50% 100%);
}

.glass-btn .debris-6 {
  background-color: #30f;
  clip-path: polygon(0 100%, 25% 25%, 50% 100%);
}

.glass-btn .debris-7 {
  background-color: rgb(255, 0, 212);
  clip-path: polygon(50% 50%, 100% 0, 75% 50%, 100% 100%);
}
/* hover */
.glass-btn:hover .debris-1 {
  clip-path: polygon(23% 20%, 20% 50%, 25% 70%);
}

.glass-btn:hover .debris-2 {
  clip-path: polygon(30% 16%, 39% 0%, 32% 2%);
}

.glass-btn:hover .debris-3 {
  clip-path: polygon(50% 0, 60% 0, 65% 20%);
}

.glass-btn:hover .debris-4 {
  clip-path: polygon(70% 20%, 75% 25%, 75% 45%);
}

.glass-btn:hover .debris-5 {
  clip-path: polygon(55% 96%, 74% 79%, 66% 100%);
}

.glass-btn:hover .debris-6 {
  clip-path: polygon(32% 98%, 25% 85%, 50% 100%);
}

.glass-btn:hover .debris-7 {
  clip-path: polygon(75% 55%, 78% 63%, 75% 75%, 76% 63%);
}
